@import "demo/demo";

.section-banner {
  .title {
    font-size: 2rem;

    @media only screen and (min-width: 992px) {
      font-size: 4rem;
    }

    @media only screen and (min-width: 1240px) {
      font-size: 5rem;
    }
  }

  .profile-img {
    width: 250px;
    height: 360px;
    object-fit: cover;
    object-position: 0 0;
  }
}

.custom-border {
  &:before {
    content: '';
    border: 1px solid var(--primary-color);
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -20px;
    bottom: 0;
    left: -20px;
    right: 0;
    border-radius: 8px;
    z-index: -1;
    opacity: 0.4;
  }
}

//Site UI
nav {
  li {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.social-link {
  li {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.transition {
  transition: 0.2s;
}
