.oneclicktheme-header {
  background: #fff;
}

.oneclicktheme-header .btn {
  background: linear-gradient(65deg, #FF5E5B 0, #F8778D 100%);
  -webkit-transition: background .15s ease;
  transition: background .15s ease;
  color: #fff;
}

.oneclicktheme-header .btn:after {
  content: '';
  border-radius: 2px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-shadow: 0 8px 16px rgba(255, 94, 91, 0.25);
          box-shadow: 0 8px 16px rgba(255, 94, 91, 0.25);
  mix-blend-mode: multiply;
  -webkit-transition: -webkit-box-shadow .15s ease;
  transition: -webkit-box-shadow .15s ease;
  transition: box-shadow .15s ease;
  transition: box-shadow .15s ease, -webkit-box-shadow .15s ease;
}

.oneclicktheme-header .btn:hover:after {
  -webkit-box-shadow: 0 8px 16px rgba(255, 94, 91, 0.4);
          box-shadow: 0 8px 16px rgba(255, 94, 91, 0.4);
}

.oneclicktheme-header input {
  border-color: #ccc;
}

.modal {
  position: absolute;
  z-index: 10000;
  /* 1 */
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
}

.modal.is-visible {
  visibility: visible;
}

.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ea5455;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.modal.is-visible .modal-overlay {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.modal-wrapper {
  position: absolute;
  z-index: 9999;
  top: 10%;
  left: 0;
  width: 768px;
  margin: 0 auto;
  right: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.35);
  border-radius: 4px;
  padding: 20px;
}

.sign-up-form-wrap {
  color: #333;
}

.modal-transition {
  -webkit-transition: all 0.3s 0.12s;
  transition: all 0.3s 0.12s;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  opacity: 0;
}

.modal.is-visible .modal-transition {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.modal-header,
.modal-content {
  padding: 1em;
}

.modal-close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 35px;
  height: 35px;
  background: #000;
  border-radius: 50%;
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.modal-close:hover {
  color: #777;
}

.modal-heading {
  font-size: 1.125em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-content > *:first-child {
  margin-top: 0;
}

.modal-content > *:last-child {
  margin-bottom: 0;
}

.section-banner .title {
  font-size: 5rem;
}

.section-banner .profile-img {
  width: 250px;
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}

.custom-border:before {
  content: '';
  border: 1px solid var(--primary-color);
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -20px;
  bottom: 0;
  left: -20px;
  right: 0;
  border-radius: 8px;
  z-index: -1;
  opacity: 0.4;
}

nav li {
  margin-right: 16px;
}

nav li:last-child {
  margin-right: 0;
}


/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIndlYnBhY2s6Ly8vLi9zcmMvc2Fzcy9zcmMvc2Fzcy9kZW1vL2RlbW8uc2NzcyIsIndlYnBhY2s6Ly8vLi9zcmMvc2Fzcy9hcHAuc2NzcyIsIndlYnBhY2s6Ly8vLi9zcmMvc2Fzcy9zcmMvc2Fzcy9hcHAuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNFO0NDQ0Q7O0FERkQ7RUFJSTtFQUNBO0VBQUE7RUFDQTtDQ0VIOztBRFJEO0VBU007RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtVQUFBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtDQ0dMOztBRHhCRDtFQTBCUTtVQUFBO0NDRVA7O0FENUJEO0VBZ0NJO0NDQUg7O0FESUQ7RUFDRTtFQUNBO0VBQWdCO0VBQ2hCO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7Q0NBRDs7QURHRDtFQUNFO0NDQUQ7O0FER0Q7RUFDRTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUFBO0NDQUQ7O0FER0Q7RUFDRTtFQUNBO0VBQ0E7VUFBQTtDQ0FEOztBREdEO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO1VBQUE7RUFDQTtFQUNBO0NDQUQ7O0FER0Q7RUFDRTtDQ0FEOztBREdEO0VBQ0U7RUFBQTtFQUNBO1VBQUE7RUFDQTtDQ0FEOztBREdEO0VBQ0U7VUFBQTtFQUNBO0NDQUQ7O0FER0Q7O0VBRUU7Q0NBRDs7QURHRDtFQUNFO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0NDQUQ7O0FER0Q7RUFDRTtDQ0FEOztBREdEO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7Q0NBRDs7QURHRDtFQUNFO0NDQUQ7O0FER0Q7RUFDRTtDQ0FEOztBQ2xJRDtFQUVJO0NEb0lIOztBQ3RJRDtFQU1JO0VBQ0E7RUFDQTtLQUFBO0VBQ0E7S0FBQTtDRG9JSDs7QUNoSUQ7RUFFSTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtDRGtJSDs7QUM3SEQ7RUFFSTtDRCtISDs7QUNqSUQ7RUFLTTtDRGdJTCIsImZpbGUiOiJjc3MvYXBwLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi5vbmVjbGlja3RoZW1lLWhlYWRlciB7XG4gIGJhY2tncm91bmQ6ICNmZmY7XG5cbiAgLmJ0biB7XG4gICAgYmFja2dyb3VuZDogbGluZWFyLWdyYWRpZW50KDY1ZGVnLCAjRkY1RTVCIDAsICNGODc3OEQgMTAwJSk7XG4gICAgdHJhbnNpdGlvbjogYmFja2dyb3VuZCAuMTVzIGVhc2U7XG4gICAgY29sb3I6ICNmZmY7XG5cbiAgICAmOmFmdGVyIHtcbiAgICAgIGNvbnRlbnQ6ICcnO1xuICAgICAgYm9yZGVyLXJhZGl1czogMnB4O1xuICAgICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgICAgdG9wOiAwO1xuICAgICAgcmlnaHQ6IDA7XG4gICAgICBib3R0b206IDA7XG4gICAgICBsZWZ0OiAwO1xuICAgICAgYm94LXNoYWRvdzogMCA4cHggMTZweCByZ2JhKDI1NSwgOTQsIDkxLCAuMjUpO1xuICAgICAgbWl4LWJsZW5kLW1vZGU6IG11bHRpcGx5O1xuICAgICAgLXdlYmtpdC10cmFuc2l0aW9uOiAtd2Via2l0LWJveC1zaGFkb3cgLjE1cyBlYXNlO1xuICAgICAgdHJhbnNpdGlvbjogLXdlYmtpdC1ib3gtc2hhZG93IC4xNXMgZWFzZTtcbiAgICAgIHRyYW5zaXRpb246IGJveC1zaGFkb3cgLjE1cyBlYXNlO1xuICAgICAgdHJhbnNpdGlvbjogYm94LXNoYWRvdyAuMTVzIGVhc2UsIC13ZWJraXQtYm94LXNoYWRvdyAuMTVzIGVhc2U7XG4gICAgfVxuXG4gICAgJjpob3ZlciB7XG4gICAgICAmOmFmdGVyIHtcbiAgICAgICAgYm94LXNoYWRvdzogMCA4cHggMTZweCByZ2JhKDI1NSw5NCw5MSwuNCk7XG4gICAgICB9XG4gICAgfVxuICB9XG5cbiAgaW5wdXQge1xuICAgIGJvcmRlci1jb2xvcjogI2NjYztcbiAgfVxufVxuLy9Nb2RhbFxuLm1vZGFsIHtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICB6LWluZGV4OiAxMDAwMDsgLyogMSAqL1xuICB0b3A6IDA7XG4gIGxlZnQ6IDA7XG4gIHZpc2liaWxpdHk6IGhpZGRlbjtcbiAgd2lkdGg6IDEwMCU7XG4gIGhlaWdodDogMTAwJTtcbn1cblxuLm1vZGFsLmlzLXZpc2libGUge1xuICB2aXNpYmlsaXR5OiB2aXNpYmxlO1xufVxuXG4ubW9kYWwtb3ZlcmxheSB7XG4gIHBvc2l0aW9uOiBmaXhlZDtcbiAgei1pbmRleDogMTA7XG4gIHRvcDogMDtcbiAgbGVmdDogMDtcbiAgd2lkdGg6IDEwMCU7XG4gIGhlaWdodDogMTAwJTtcbiAgYmFja2dyb3VuZDogcmdiKDIzNCwgODQsIDg1KTtcbiAgdmlzaWJpbGl0eTogaGlkZGVuO1xuICBvcGFjaXR5OiAwO1xuICB0cmFuc2l0aW9uOiB2aXNpYmlsaXR5IDBzIGxpbmVhciAwLjNzLCBvcGFjaXR5IDAuM3M7XG59XG5cbi5tb2RhbC5pcy12aXNpYmxlIC5tb2RhbC1vdmVybGF5IHtcbiAgb3BhY2l0eTogMTtcbiAgdmlzaWJpbGl0eTogdmlzaWJsZTtcbiAgdHJhbnNpdGlvbi1kZWxheTogMHM7XG59XG5cbi5tb2RhbC13cmFwcGVyIHtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICB6LWluZGV4OiA5OTk5O1xuICB0b3A6IDEwJTtcbiAgbGVmdDogMDtcbiAgd2lkdGg6IDc2OHB4O1xuICBtYXJnaW46IDAgYXV0bztcbiAgcmlnaHQ6IDA7XG4gIGJhY2tncm91bmQtY29sb3I6ICNmZmY7XG4gIGJveC1zaGFkb3c6IDAgMCAxLjVlbSByZ2JhKDAsMCwwLC4zNSk7XG4gIGJvcmRlci1yYWRpdXM6IDRweDtcbiAgcGFkZGluZzogMjBweDtcbn1cblxuLnNpZ24tdXAtZm9ybS13cmFwIHtcbiAgY29sb3I6ICMzMzM7XG59XG5cbi5tb2RhbC10cmFuc2l0aW9uIHtcbiAgdHJhbnNpdGlvbjogYWxsIDAuM3MgMC4xMnM7XG4gIHRyYW5zZm9ybTogdHJhbnNsYXRlWSgtMTAlKTtcbiAgb3BhY2l0eTogMDtcbn1cblxuLm1vZGFsLmlzLXZpc2libGUgLm1vZGFsLXRyYW5zaXRpb24ge1xuICB0cmFuc2Zvcm06IHRyYW5zbGF0ZVkoMCk7XG4gIG9wYWNpdHk6IDE7XG59XG5cbi5tb2RhbC1oZWFkZXIsXG4ubW9kYWwtY29udGVudCB7XG4gIHBhZGRpbmc6IDFlbTtcbn1cblxuLm1vZGFsLWNsb3NlIHtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICB0b3A6IC0xNXB4O1xuICByaWdodDogLTE1cHg7XG4gIHdpZHRoOiAzNXB4O1xuICBoZWlnaHQ6IDM1cHg7XG4gIGJhY2tncm91bmQ6ICMwMDA7XG4gIGJvcmRlci1yYWRpdXM6IDUwJTtcbiAgY29sb3I6IHJlZDtcbiAgZm9udC1zaXplOiAyMHB4O1xuICBmb250LXdlaWdodDogYm9sZDtcbn1cblxuLm1vZGFsLWNsb3NlOmhvdmVyIHtcbiAgY29sb3I6ICM3Nzc7XG59XG5cbi5tb2RhbC1oZWFkaW5nIHtcbiAgZm9udC1zaXplOiAxLjEyNWVtO1xuICBtYXJnaW46IDA7XG4gIC13ZWJraXQtZm9udC1zbW9vdGhpbmc6IGFudGlhbGlhc2VkO1xuICAtbW96LW9zeC1mb250LXNtb290aGluZzogZ3JheXNjYWxlO1xufVxuXG4ubW9kYWwtY29udGVudCA+ICo6Zmlyc3QtY2hpbGQge1xuICBtYXJnaW4tdG9wOiAwO1xufVxuXG4ubW9kYWwtY29udGVudCA+ICo6bGFzdC1jaGlsZCB7XG4gIG1hcmdpbi1ib3R0b206IDA7XG59XG5cblxuXG4vLyBXRUJQQUNLIEZPT1RFUiAvL1xuLy8gLi9zcmMvc2Fzcy9zcmMvc2Fzcy9kZW1vL2RlbW8uc2NzcyIsIi5vbmVjbGlja3RoZW1lLWhlYWRlciB7XG4gIGJhY2tncm91bmQ6ICNmZmY7XG59XG5cbi5vbmVjbGlja3RoZW1lLWhlYWRlciAuYnRuIHtcbiAgYmFja2dyb3VuZDogbGluZWFyLWdyYWRpZW50KDY1ZGVnLCAjRkY1RTVCIDAsICNGODc3OEQgMTAwJSk7XG4gIHRyYW5zaXRpb246IGJhY2tncm91bmQgLjE1cyBlYXNlO1xuICBjb2xvcjogI2ZmZjtcbn1cblxuLm9uZWNsaWNrdGhlbWUtaGVhZGVyIC5idG46YWZ0ZXIge1xuICBjb250ZW50OiAnJztcbiAgYm9yZGVyLXJhZGl1czogMnB4O1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIHRvcDogMDtcbiAgcmlnaHQ6IDA7XG4gIGJvdHRvbTogMDtcbiAgbGVmdDogMDtcbiAgYm94LXNoYWRvdzogMCA4cHggMTZweCByZ2JhKDI1NSwgOTQsIDkxLCAwLjI1KTtcbiAgbWl4LWJsZW5kLW1vZGU6IG11bHRpcGx5O1xuICAtd2Via2l0LXRyYW5zaXRpb246IC13ZWJraXQtYm94LXNoYWRvdyAuMTVzIGVhc2U7XG4gIHRyYW5zaXRpb246IC13ZWJraXQtYm94LXNoYWRvdyAuMTVzIGVhc2U7XG4gIHRyYW5zaXRpb246IGJveC1zaGFkb3cgLjE1cyBlYXNlO1xuICB0cmFuc2l0aW9uOiBib3gtc2hhZG93IC4xNXMgZWFzZSwgLXdlYmtpdC1ib3gtc2hhZG93IC4xNXMgZWFzZTtcbn1cblxuLm9uZWNsaWNrdGhlbWUtaGVhZGVyIC5idG46aG92ZXI6YWZ0ZXIge1xuICBib3gtc2hhZG93OiAwIDhweCAxNnB4IHJnYmEoMjU1LCA5NCwgOTEsIDAuNCk7XG59XG5cbi5vbmVjbGlja3RoZW1lLWhlYWRlciBpbnB1dCB7XG4gIGJvcmRlci1jb2xvcjogI2NjYztcbn1cblxuLm1vZGFsIHtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICB6LWluZGV4OiAxMDAwMDtcbiAgLyogMSAqL1xuICB0b3A6IDA7XG4gIGxlZnQ6IDA7XG4gIHZpc2liaWxpdHk6IGhpZGRlbjtcbiAgd2lkdGg6IDEwMCU7XG4gIGhlaWdodDogMTAwJTtcbn1cblxuLm1vZGFsLmlzLXZpc2libGUge1xuICB2aXNpYmlsaXR5OiB2aXNpYmxlO1xufVxuXG4ubW9kYWwtb3ZlcmxheSB7XG4gIHBvc2l0aW9uOiBmaXhlZDtcbiAgei1pbmRleDogMTA7XG4gIHRvcDogMDtcbiAgbGVmdDogMDtcbiAgd2lkdGg6IDEwMCU7XG4gIGhlaWdodDogMTAwJTtcbiAgYmFja2dyb3VuZDogI2VhNTQ1NTtcbiAgdmlzaWJpbGl0eTogaGlkZGVuO1xuICBvcGFjaXR5OiAwO1xuICB0cmFuc2l0aW9uOiB2aXNpYmlsaXR5IDBzIGxpbmVhciAwLjNzLCBvcGFjaXR5IDAuM3M7XG59XG5cbi5tb2RhbC5pcy12aXNpYmxlIC5tb2RhbC1vdmVybGF5IHtcbiAgb3BhY2l0eTogMTtcbiAgdmlzaWJpbGl0eTogdmlzaWJsZTtcbiAgdHJhbnNpdGlvbi1kZWxheTogMHM7XG59XG5cbi5tb2RhbC13cmFwcGVyIHtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICB6LWluZGV4OiA5OTk5O1xuICB0b3A6IDEwJTtcbiAgbGVmdDogMDtcbiAgd2lkdGg6IDc2OHB4O1xuICBtYXJnaW46IDAgYXV0bztcbiAgcmlnaHQ6IDA7XG4gIGJhY2tncm91bmQtY29sb3I6ICNmZmY7XG4gIGJveC1zaGFkb3c6IDAgMCAxLjVlbSByZ2JhKDAsIDAsIDAsIDAuMzUpO1xuICBib3JkZXItcmFkaXVzOiA0cHg7XG4gIHBhZGRpbmc6IDIwcHg7XG59XG5cbi5zaWduLXVwLWZvcm0td3JhcCB7XG4gIGNvbG9yOiAjMzMzO1xufVxuXG4ubW9kYWwtdHJhbnNpdGlvbiB7XG4gIHRyYW5zaXRpb246IGFsbCAwLjNzIDAuMTJzO1xuICB0cmFuc2Zvcm06IHRyYW5zbGF0ZVkoLTEwJSk7XG4gIG9wYWNpdHk6IDA7XG59XG5cbi5tb2RhbC5pcy12aXNpYmxlIC5tb2RhbC10cmFuc2l0aW9uIHtcbiAgdHJhbnNmb3JtOiB0cmFuc2xhdGVZKDApO1xuICBvcGFjaXR5OiAxO1xufVxuXG4ubW9kYWwtaGVhZGVyLFxuLm1vZGFsLWNvbnRlbnQge1xuICBwYWRkaW5nOiAxZW07XG59XG5cbi5tb2RhbC1jbG9zZSB7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgdG9wOiAtMTVweDtcbiAgcmlnaHQ6IC0xNXB4O1xuICB3aWR0aDogMzVweDtcbiAgaGVpZ2h0OiAzNXB4O1xuICBiYWNrZ3JvdW5kOiAjMDAwO1xuICBib3JkZXItcmFkaXVzOiA1MCU7XG4gIGNvbG9yOiByZWQ7XG4gIGZvbnQtc2l6ZTogMjBweDtcbiAgZm9udC13ZWlnaHQ6IGJvbGQ7XG59XG5cbi5tb2RhbC1jbG9zZTpob3ZlciB7XG4gIGNvbG9yOiAjNzc3O1xufVxuXG4ubW9kYWwtaGVhZGluZyB7XG4gIGZvbnQtc2l6ZTogMS4xMjVlbTtcbiAgbWFyZ2luOiAwO1xuICAtd2Via2l0LWZvbnQtc21vb3RoaW5nOiBhbnRpYWxpYXNlZDtcbiAgLW1vei1vc3gtZm9udC1zbW9vdGhpbmc6IGdyYXlzY2FsZTtcbn1cblxuLm1vZGFsLWNvbnRlbnQgPiAqOmZpcnN0LWNoaWxkIHtcbiAgbWFyZ2luLXRvcDogMDtcbn1cblxuLm1vZGFsLWNvbnRlbnQgPiAqOmxhc3QtY2hpbGQge1xuICBtYXJnaW4tYm90dG9tOiAwO1xufVxuXG4uc2VjdGlvbi1iYW5uZXIgLnRpdGxlIHtcbiAgZm9udC1zaXplOiA1cmVtO1xufVxuXG4uc2VjdGlvbi1iYW5uZXIgLnByb2ZpbGUtaW1nIHtcbiAgd2lkdGg6IDI1MHB4O1xuICBoZWlnaHQ6IDM2MHB4O1xuICBvYmplY3QtZml0OiBjb3ZlcjtcbiAgb2JqZWN0LXBvc2l0aW9uOiAwIDA7XG59XG5cbi5jdXN0b20tYm9yZGVyOmJlZm9yZSB7XG4gIGNvbnRlbnQ6ICcnO1xuICBib3JkZXI6IDFweCBzb2xpZCB2YXIoLS1wcmltYXJ5LWNvbG9yKTtcbiAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xuICB3aWR0aDogMTAwJTtcbiAgaGVpZ2h0OiAxMDAlO1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIHRvcDogLTIwcHg7XG4gIGJvdHRvbTogMDtcbiAgbGVmdDogLTIwcHg7XG4gIHJpZ2h0OiAwO1xuICBib3JkZXItcmFkaXVzOiA4cHg7XG4gIHotaW5kZXg6IC0xO1xuICBvcGFjaXR5OiAwLjQ7XG59XG5cbm5hdiBsaSB7XG4gIG1hcmdpbi1yaWdodDogMTZweDtcbn1cblxubmF2IGxpOmxhc3QtY2hpbGQge1xuICBtYXJnaW4tcmlnaHQ6IDA7XG59XG5cblxuXG5cbi8vIFdFQlBBQ0sgRk9PVEVSIC8vXG4vLyAuL3NyYy9zYXNzL2FwcC5zY3NzIiwiQGltcG9ydCBcImRlbW8vZGVtb1wiO1xuXG4uc2VjdGlvbi1iYW5uZXIge1xuICAudGl0bGUge1xuICAgIGZvbnQtc2l6ZTogNXJlbTtcbiAgfVxuXG4gIC5wcm9maWxlLWltZyB7XG4gICAgd2lkdGg6IDI1MHB4O1xuICAgIGhlaWdodDogMzYwcHg7XG4gICAgb2JqZWN0LWZpdDogY292ZXI7XG4gICAgb2JqZWN0LXBvc2l0aW9uOiAwIDA7XG4gIH1cbn1cblxuLmN1c3RvbS1ib3JkZXIge1xuICAmOmJlZm9yZSB7XG4gICAgY29udGVudDogJyc7XG4gICAgYm9yZGVyOiAxcHggc29saWQgdmFyKC0tcHJpbWFyeS1jb2xvcik7XG4gICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xuICAgIHdpZHRoOiAxMDAlO1xuICAgIGhlaWdodDogMTAwJTtcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgdG9wOiAtMjBweDtcbiAgICBib3R0b206IDA7XG4gICAgbGVmdDogLTIwcHg7XG4gICAgcmlnaHQ6IDA7XG4gICAgYm9yZGVyLXJhZGl1czogOHB4O1xuICAgIHotaW5kZXg6IC0xO1xuICAgIG9wYWNpdHk6IDAuNDtcbiAgfVxufVxuXG4vL1NpdGUgVUlcbm5hdiB7XG4gIGxpIHtcbiAgICBtYXJnaW4tcmlnaHQ6IDE2cHg7XG5cbiAgICAmOmxhc3QtY2hpbGQge1xuICAgICAgbWFyZ2luLXJpZ2h0OiAwO1xuICAgIH1cbiAgfVxufVxuXG5cblxuLy8gV0VCUEFDSyBGT09URVIgLy9cbi8vIC4vc3JjL3Nhc3Mvc3JjL3Nhc3MvYXBwLnNjc3MiXSwic291cmNlUm9vdCI6IiJ9*/