<!--Partial Footer-->
<footer class="absolute bottom-0 left-0 right-0 p-4">
    <div class="container mx-auto">
        <div class="flex flex-wrap justify-between items-center text-sm">
            <div class="text-grey">
                <span>&copy; {{now.Year}}</span>
                <a href="#" class="text-primary-text" target="_blank">OneClickTheme</a>
                <span>- {{.Title}} Theme. All rights reserved</span></div>
            {{ with $.Site.Data.contact.contact }}
            <ul class="flex items-center text-sm">
                {{ range .social_info}}

                {{ end }}
                <li class="mr-4">
                    <a href="#" target="_blank"
                       class="text-primary-text border flex h-8 items-center justify-center rounded-full w-8">
                        <svg class="fill-current w-4 h-4">
                            <use xlink:href="/img/icons.svg#ic-facebook" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </a>
                </li>
                <li class="mr-4">
                    <a href="#" target="_blank"
                       class="text-primary-text border flex h-8 items-center justify-center rounded-full w-8">
                        <svg class="fill-current w-4 h-4">
                            <use xlink:href="/img/icons.svg#ic-twitter" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            {{end}}
        </div>
    </div>
</footer>
