<!--Footer-->
<footer class="absolute bottom-0 left-0 right-0 p-4">
    <div class="container mx-auto">
        <div class="flex flex-wrap justify-center xl:justify-between items-center text-sm">
            <div class="text-base-color text-center xl:text-left">
                <span>&copy; {{now.Year}}</span>
                <a href="https://www.oneclicktheme.com/" class="text-primary-text" target="_blank">OneClickTheme</a>
                <span>- {{.Title}} Theme. All rights reserved</span></div>
            {{ with $.Site.Data.contact.contact }}
            <ul class="social-link mt-4 xl:mt-0 w-full flex items-center justify-center xl:w-auto xl:justify-start text-sm">
                {{ if .facebook}}
                <!--Facebook-->
                <li>
                    <a href="{{.facebook}}" target="_blank"
                       class="text-primary-text border flex h-8 items-center justify-center rounded-full w-8">
                        <svg class="fill-current w-4 h-4">
                            <use xlink:href="/img/icons.svg#ic-facebook" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </a>
                </li>
                {{ end }}

                {{ if .twitter}}
                <!--Twitter-->
                <li>
                    <a href="{{.twitter}}" target="_blank"
                       class="text-primary-text border flex h-8 items-center justify-center rounded-full w-8">
                        <svg class="fill-current w-4 h-4">
                            <use xlink:href="/img/icons.svg#ic-twitter" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </a>
                </li>
                {{ end }}

                {{ if .linkedin}}
                <!--Linkedin-->
                <li>
                    <a href="{{.linkedin}}" target="_blank"
                       class="text-primary-text border flex h-8 items-center justify-center rounded-full w-8">
                        <svg class="fill-current w-4 h-4">
                            <use xlink:href="/img/icons.svg#ic-linkedin" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </a>
                </li>
                {{ end }}

                {{ if .medium}}
                <!--Medium-->
                <li>
                    <a href="{{.medium}}" target="_blank"
                       class="text-primary-text border flex h-8 items-center justify-center rounded-full w-8">
                        <svg class="fill-current w-4 h-4">
                            <use xlink:href="/img/icons.svg#ic-medium" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </a>
                </li>
                {{ end }}

                {{ if .github }}
                <!--Github-->
                <li>
                    <a href="{{.github}}" target="_blank"
                       class="text-primary-text border flex h-8 items-center justify-center rounded-full w-8">
                        <svg class="fill-current w-4 h-4">
                            <use xlink:href="/img/icons.svg#ic-github" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </a>
                </li>
                {{ end }}

                {{ if .codepen }}
                <!--Codepen-->
                <li>
                    <a href="{{.codepen}}" target="_blank"
                       class="text-primary-text border flex h-8 items-center justify-center rounded-full w-8">
                        <svg class="fill-current w-4 h-4">
                            <use xlink:href="/img/icons.svg#ic-codepen" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </a>
                </li>
                {{ end }}

                {{ if .instagram }}
                <!--Instagram-->
                <li>
                    <a href="{{.instagram}}" target="_blank"
                       class="text-primary-text border flex h-8 items-center justify-center rounded-full w-8">
                        <svg class="fill-current w-4 h-4">
                            <use xlink:href="/img/icons.svg#ic-instagram" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </a>
                </li>
                {{ end }}
            </ul>
            {{end}}
        </div>
    </div>
</footer>
<!--End Footer-->
