<!--Header-->
<header class="absolute top-0 left-0 right-0 py-6 px-4 z-50">
    <div class="container mx-auto">
        {{ with $.Site.Data.logo.logo }}
        <div class="flex flex-wrap justify-between items-center">
            <div class="flex items-center">
                <a class="h-10 xl:h-16 inline-block" href="/">
                    <img class="inline-block h-full" src="{{.logo}}" alt="{{.Title}}" />
                </a>
                {{ if .logoText }}
                <div class="ml-4">
                    <span class="text-lg xl:text-2xl font-bold text-base-color">{{.logoText}}</span>
                </div>
                {{ end }}
            </div>
            {{ with $.Site.Data.contact.contact }}
            {{ if .email }}
            <nav>
                <ul class="flex items-center">
                    <li>
                        <span class="text-base-color inline-block mr-4">
                            Contact me:</span>
                        <a class="inline-block text-primary-text"href="mailto:{{.email}}">
                            {{.email}}</a>
                    </li>
                </ul>
            </nav>
            {{end}}
            {{ end }}
        </div>
        {{ end }}
    </div>
</header>
<!--End Header-->
