<!--Banner-->
<section class="flex h-full items-center flex-wrap px-20 py-5">
    {{ with $.Site.Data.homepage.herobanner }}
    <div>
        <h1 class="title font-bold text-2xl lg:text-3xl xll:text-5xl mb-10">I'm <span class="text-primary-text">{{.mainTitle}}</span></h1>
        <div class="mb-10">
            <span class="font-bold text-5xl typewrite" data-period="2000"
                  data-type='["{{ delimit .highlights "\", \""}}"]'>
                <span class="wrap"></span>
            </span>
        </div>

        <p class="mb-12">{{.lead}}</p>

        {{ if .cv_link }}
        <a class="text-primary-text transition" href="{{.cv_link}}" target="">Download Resume</a>
        {{ end }}
    </div>
    {{ end }}
    {{ partial "footer" .}}
</section>
<!--End Banner-->
