<!DOCTYPE html>
<html>

{{ partial "head.html" }}

<body class="bg-primary-bg text-primary-text antialiased font-body leading-snug">

<section class="oneclicktheme-header px-4 py-2">
    <div class="container mx-auto">
        <div class="flex flex-wrap justify-between items-center">
            <div>
                <a class="inline-block" href="https://oneclicktheme.netlify.com/" target="_blank">
                    <img class="h-10 inline-block rounded-full shadow-md w-10" src="/img/oneclicktheme-logo.png" alt="One Click Theme">
                </a>
            </div>
            <div>
                <span class="inline-block mr-2 text-sm text-grey">If you like the theme then</span>
                <button class="outline-none modal-toggle btn relative text-sm inline-block
                 px-4 py-2 rounded text-sm uppercase font-bold" href="#">Let's start
                </button>
            </div>
        </div>
    </div>
    <div class="modal">
        <div class="modal-overlay modal-toggle"></div>
        <div class="modal-wrapper modal-transition">
            <button class="modal-close modal-toggle">x</button>
            <div class="modal-body">
                <div class="modal-content">
                    <div class="flex flex-wrap -mx-4">
                        <div class="w-1/2 px-4">
                            <img src="/img/demo/product_manager.svg" alt="Illustration">
                        </div>
                        <div class="w-1/2 px-4">
                            <div class="sign-up-form-wrap">
                                <div>
                                    <h2 class="capitalize font-black text-3xl">To get started</h2>
                                    <p class="text-grey text-xs">Please fill the necessary information for your site</p>
                                </div>
                                {{ partial "signup-form" }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--color-picker tool-->
<aside class="text-grey absolute bg-white bottom-0 mb-5 mr-5 p-6 right-0 rounded shadow-2xl z-50">
    <h1 class="font-bold mb-4 text-sm">Theme Switcher</h1>
    <div class="flex flex-wrap items-center justify-between">
        <h3>Defaults</h3>
        <div class="flex">
            <span class="w-10 h-10 inline-block rounded-full mr-4" data-bg-color="#b84130" data-color="#fff"
                  style="background-color: #b84130">&nbsp;
            </span>
            <span class="w-10 h-10 inline-block rounded-full mr-4" data-bg-color="#363d98" data-color="#fff"
                  style="background-color: #363d98">&nbsp;
            </span>
            <span class="w-10 h-10 inline-block rounded-full" data-bg-color="#FFD5CD" data-color="#333"
                  style="background-color: #FFD5CD">&nbsp;
            </span>
        </div>
    </div>
    <div class="mt-4">
        <h3 class="font-bold mb-4 text-sm">Dynamic Color</h3>
    </div>
    <div class="flex items-center">
        <div class="mr-4">
            <label for="bg-color">Background:</label>
            <input type="color" id="bg-color" name="Background">
        </div>
        <div>
            <label for="color">Color:</label>
            <input type="color" id="color" name="Color">
        </div>
    </div>
</aside>

<div class="relative">
    {{ partial "header" . }}

    <main class="h-screen">
        {{ block "main" . }} {{end}}
    </main>

    {{ partial "footer" . }}
</div>

<!-- Scripts -->
{{ $scripts := resources.Get "js/manifest.js" | fingerprint }}
{{ with $scripts }}
<script type="text/javascript" src="{{ .Permalink | relURL }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous" defer></script>
{{ $.Scratch.Set "$scripts" . }}
{{ end }}

{{ $scripts := resources.Get "js/vendor.js" | fingerprint }}
{{ with $scripts }}
<script type="text/javascript" src="{{ .Permalink | relURL }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous" defer></script>
{{ $.Scratch.Set "scripts" . }}
{{ end }}

{{ $scripts := resources.Get "js/app.js" | fingerprint }}
{{ with $scripts }}
<script type="text/javascript" src="{{ .Permalink | relURL }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous" defer></script>
{{ $.Scratch.Set "scripts" . }}
{{ end }}
</body>

</html>
