<!DOCTYPE html>
<html>

{{ partial "head.html" }}

<body class="bg-primary-bg antialiased font-body leading-snug">

<!--Demo-->
<section class="hidden md:block oneclicktheme-header px-4 py-2">
    <div class="container mx-auto">
        <div class="flex flex-wrap justify-between items-center">
            <div class="mr-4 xl:mr-0">
                <a class="inline-block" href="https://www.oneclicktheme.com/" target="_blank">
                    <img class="h-10 inline-block rounded-full shadow-md w-10" src="/img/oneclicktheme-logo.png" alt="One Click Theme">
                </a>
            </div>
            <div class="text-grey">
                <div class="flex items-center">
                    <div class="flex flex-wrap mr-8 items-center justify-between">
                        <h3 class="font-bold text-sm mr-3">Default Theme Switcher</h3>
                        <div class="flex">
                            <span class="default-switch cursor-pointer w-6 h-6 xl:w-10 xl:h-10 inline-block rounded-full mr-4" data-bg-color="#b84130"
                                  data-color="#ffffff"
                                  style="background-color: #b84130">&nbsp;</span>
                            <span class="default-switch cursor-pointer w-6 h-6 xl:w-10 xl:h-10 inline-block rounded-full mr-4" data-bg-color="#363d98"
                                  data-color="#ffffff"
                                  style="background-color: #363d98">&nbsp;</span>
                            <span class="default-switch cursor-pointer w-6 h-6 xl:w-10 xl:h-10 inline-block rounded-full" data-bg-color="#228928"
                                  data-color="#333333"
                                  style="background-color: #228928">&nbsp;</span>
                        </div>
                    </div>
                    <h3 class="font-bold mr-4 text-sm">Dynamic Color</h3>
                    <div class="flex items-center">
                        <div class="flex items-center mr-3">
                            <label class="text-sm mr-2">Background:</label>
                            <input class="cursor-pointer w-6 h-6 xl:h-10 outline-none xl:w-10 input-color-picker"
                                   type="color" data-id="bg-color"
                                   name="Background">
                        </div>
                        <div class="flex items-center">
                            <label class="text-sm mr-2">Color:</label>
                            <input class="cursor-pointer w-6 h-6 xl:h-10 outline-none xl:w-10 input-color-picker"
                                   type="color" data-id="color" name="Color">
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-1 xl:flex-none text-center xl:text-left mt-3 xl:mt-0">
                <span class="inline-block mr-2 text-sm text-grey">If you like the theme then</span>
                <button class="outline-none modal-toggle btn relative text-sm inline-block
                 px-4 py-2 rounded text-sm uppercase font-bold" href="#">Let's start
                </button>
            </div>
        </div>
    </div>
    <div class="hidden xl:block modal">
        <div class="modal-overlay modal-toggle"></div>
        <div class="modal-wrapper modal-transition">
            <button class="modal-close modal-toggle">x</button>
            <div class="modal-body">
                <div class="modal-content">
                    <div class="flex flex-wrap -mx-4">
                        <div class="w-1/2 px-4">
                            <img src="/img/demo/product_manager.svg" alt="Illustration">
                        </div>
                        <div class="w-1/2 px-4">
                            <div class="sign-up-form-wrap">
                                <div>
                                    <h2 class="capitalize font-black text-3xl">To get started</h2>
                                    <p class="text-grey text-xs">Please fill the necessary information for your site</p>
                                </div>
                                {{ partial "signup-form" }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Demo-->

<div class="relative">
    {{ partial "header" . }}

    <main class="h-screen">
        {{ block "main" . }} {{end}}
    </main>

    {{ partial "footer" . }}
</div>

<!-- Scripts -->
{{ $scripts := resources.Get "js/manifest.js" | fingerprint }}
{{ with $scripts }}
<script type="text/javascript" src="{{ .Permalink | relURL }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous" defer></script>
{{ $.Scratch.Set "$scripts" . }}
{{ end }}

{{ $scripts := resources.Get "js/vendor.js" | fingerprint }}
{{ with $scripts }}
<script type="text/javascript" src="{{ .Permalink | relURL }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous" defer></script>
{{ $.Scratch.Set "scripts" . }}
{{ end }}

{{ $scripts := resources.Get "js/app.js" | fingerprint }}
{{ with $scripts }}
<script type="text/javascript" src="{{ .Permalink | relURL }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous" defer></script>
{{ $.Scratch.Set "scripts" . }}
{{ end }}
</body>

</html>
