.oneclicktheme-header {
  background: #fff;

  .btn {
    background: linear-gradient(65deg, #FF5E5B 0, #F8778D 100%);
    transition: background .15s ease;
    color: #fff;

    &:after {
      content: '';
      border-radius: 2px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: 0 8px 16px rgba(255, 94, 91, .25);
      mix-blend-mode: multiply;
      -webkit-transition: -webkit-box-shadow .15s ease;
      transition: -webkit-box-shadow .15s ease;
      transition: box-shadow .15s ease;
      transition: box-shadow .15s ease, -webkit-box-shadow .15s ease;
    }

    &:hover {
      &:after {
        box-shadow: 0 8px 16px rgba(255,94,91,.4);
      }
    }
  }

  input {
    border-color: #ccc;
  }
}
//Modal
.modal {
  position: absolute;
  z-index: 10000; /* 1 */
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
}

.modal.is-visible {
  visibility: visible;
}

.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(234, 84, 85);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.modal.is-visible .modal-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.modal-wrapper {
  position: absolute;
  z-index: 9999;
  top: 10%;
  left: 0;
  width: 768px;
  margin: 0 auto;
  right: 0;
  background-color: #fff;
  box-shadow: 0 0 1.5em rgba(0,0,0,.35);
  border-radius: 4px;
  padding: 20px;
}

.sign-up-form-wrap {
  color: #333;
}

.modal-transition {
  transition: all 0.3s 0.12s;
  transform: translateY(-10%);
  opacity: 0;
}

.modal.is-visible .modal-transition {
  transform: translateY(0);
  opacity: 1;
}

.modal-header,
.modal-content {
  padding: 1em;
}

.modal-close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 35px;
  height: 35px;
  background: #000;
  border-radius: 50%;
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.modal-close:hover {
  color: #777;
}

.modal-heading {
  font-size: 1.125em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-content > *:first-child {
  margin-top: 0;
}

.modal-content > *:last-child {
  margin-bottom: 0;
}
