<!DOCTYPE html>
<html>

{{ partial "head.html" }}

<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">

<body>
<section class="success-wrap px-4 items-center justify-center">
    <div class="container mx-auto">
        <div>
            <div class="w-full md:w-2/3 mx-auto">
                <div class="relative success-content p-10 py-20 rounded overflow-hidden">
                    <div class="relative z-10">
                        <h1>Thankyou For Choosing us !!!</h1>
                        <p class="mb-4">We will get back to you soon for your awesome website.</p>
                        <p><span class="mb-3">Checkout more templates on </span>
                            <a href="https://www.oneclicktheme.com" >oneclicktheme.com</a></p>
                    </div>
                    <div class="banner-image"x>
                        <img src="/img/demo/customer_success.svg" alt="Customer Success">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>

